<!DOCTYPE html>
<html>

	<head>
		<title>Minimal Resume Template</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		{% assign data = site.data.data %}
		<div class="container">
			<div class="hero">
				<h1 class="name"><strong>{{ data.name }}</strong> </h1>
				<span class="job-title">{{ data.title }}</span>
				<span class="email">{{ data.email }}</span>
				<h2 class="lead">{{ data.subtitle }}</h2>
			</div>
		</div>
		<!-- Skills and intrest section -->
		<div class="container">
			<div class="sections">
				{% if data.skills %}
				<h2 class="section-title">{{ data.skills.title }}</h2>
				{% for skillset in data.skills.skillset %}
				<div class="list-card">
					<span class="exp"> {{ skillset.year }} </span>
					<div>
						<h3> {{ skillset.skill1 }} </h3>
						<span> {{ skillset.skill2 }} </span>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
			{% if data.interest %}
			<div class="sections">
				<h2 class="section-title">Interests</h2>
				{% for interests in data.interest.interests %}
				<div class="list-card">
					<div>
						<h3>{{ interests.name }}</h3>
						<span>{{ interests.name2 }}</span>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
			<!-- Achievements -->
			<div class="container cards">
				{% for card in data.cards %}
				<div class="card">
					<div class="skill-level">
						<span>{{ card.symbol }}</span>
						<h2> {{ card.number}} </h2>
					</div>
					<div class="skill-meta">
						<h3> {{ card.name }} </h3>
						<span> {{ card.description }} </span>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- Timeeline -->
			<div class="container">
				<ol class="timeline">
					{% if data.experience %}
					<li>
						<p class="line">{{ data.experience.title }}</p>
						{% for experiences in data.experience.experiences %}
						<span class="point"></span>
						<p class="description">
							{{ experiences.role }}
						</p>
						<span class="date">{{ experiences.time }}</span>
						{% endfor %}
					</li>
					{% endif %}
					{% if data.education %}
					<li>
						<p class="line">{{ data.education.title }}</p>
						{% for school in data.education.school %}
						<span class="point"></span>
						<p class="description">
							{{ school.name }}
						</p>
						<span class="date">{{ school.year }}</span>
						{% endfor %}
					</li>
					{% endif %}
				</ol>
			</div>
			<br><br>
			<footer class="container">
				<span style="font-size: 16px; margin-top: ">{{ site.copyright }}</a></span>
			</footer>
	</body>

</html>